#LoginPage {
  padding-top: 10%;
  .userControl {
    padding-top: 10% !important;
    .right {
        text-align: right;
    }
  }
}

.submitBtn {
  color: #ffffff;
  background-color: #00b3ee;
  display: flex;
  width: 100%;
}